<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="b0dcca.css" title="Default"/>
  <title>xkcd: Sentimessenger</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="shortcut icon" href="//xkcd.com/s/919f27.ico" type="image/x-icon"/>
  <link rel="icon" href="//xkcd.com/s/919f27.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="app.css">

  <script type="text/javascript" src="//xkcd.com/1350/jquery.min.js"></script>
  <script type="text/javascript" src="//xkcd.com/static/json2.js"></script>

  <script src="http://d3js.org/d3.v2.min.js?2.10.0"></script>
  <script src="xkcd.js"></script>
</head>
<body ng-app="myApp" ng-controller="appCtrl">
<div id="topContainer">
  <div id="topLeft">
    <ul>
      <li><a href="http://xkcd.com">XKCD</a></li>
      <li><a href="http://hackmit.org">HackMIT</a></li>
      <li><a href="https://github.com/MatthewMerrill/">MattMerr</a></li>
      <li><a href="https://github.com/brandondsherman/">BrandSherm</a></li>
      <li><a  href="https://github.com/brandondsherman/Sentimessenger/blob/master/tut.md">How-To</a></li>

    </ul>
  </div>
  <div id="topRight">
    <div id="masthead">
      <!--<span><a href="/"><img src="//imgs.xkcd.com/static/terrible_small_logo.png" alt="xkcd.com logo" height="83" width="185"/></a></span>-->
      <!--<span id="slogan">A webcomic of romance,<br/> sarcasm, math, and language.</span>-->
      <h1>SentiMessenger</h1>
      A webcomic-themed sentiment analysis utility. Takes in a Facebook messenger chatlog dump and makes pretty graphs. (See how-to for details)
    </div>
  </div>
  <div id="bgLeft" class="bg box"></div>
  <div id="bgRight" class="bg box"></div>
</div>
<div id="middleContainer" class="box">

  <div id="ctitle">Sentiments</div>

  <div ng-if="sentimentData">
  <ul class="comicNav">
    <li><a href="#" ng-click="first()">|&lt;</a></li>
    <li><a href="#" ng-click="prev()">&lt; Prev</a></li>
    <li><a href="#" ng-click="random()">Random</a></li>
    <li><a href="#" ng-click="next()">Next &gt;</a></li>
    <li><a href="#" ng-click="last()">&gt;|</a></li>
  </ul>

  <ng-include id="includeView" src="'comic/comic.html'"
    ng-if="true"
    ng-init="">
  </ng-include>

  <ul class="comicNav">
    <li><a href="#" ng-click="first()">|&lt;</a></li>
    <li><a href="#" ng-click="prev()">&lt; Prev</a></li>
    <li><a href="#" ng-click="random()">Random</a></li>
    <li><a href="#" ng-click="next()">Next &gt;</a></li>
    <li><a href="#" ng-click="last()">&gt;|</a></li>
  </ul>
  </div>

  <div ng-hide="sentimentData||uploading" class="uploadForm">
    <h3>Upload</h3>
    <div
        class="btn btn-primary btn-upload"
        upload-button
        url="http://18.22.5.15:5001/"
        on-success="onGlobalSuccess(response)"
        on-upload="onGlobalUploading()"
    ></div>
  </div>

  <div style="margin: 30px;">
    <span ng-show="uploading" us-spinner="{radius:10, width:8, length: 5}"></span>
  </div>

  <br />
  Permanent link to our website: http://datasciencecsus.com/<br />
  Image of a cat (for hotlinking/embedding): /cat.png
  <div id="transcript" style="display: none"></div>
</div>
<div id="bottom" class="box">
  <div id="licenseText">
    <p>
      Site design and css is a parody of <a href="http://xkcd.com">XKCD</a>.
    </p>
    <p>
      This work is licensed under a
      <a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial 2.5 License</a>.
    </p><p>
    This means you're free to copy and share these comics (but not to sell them). <a rel="license" href="/license.html">More details</a>.</p>
  </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src='bower_components/angular-upload/angular-upload.min.js'></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.js"></script>

<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="emotive/emotive.js"></script>
<script src="comic/comic.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

</body>
<!-- Layout by Ian Clasbey, davean, and chromakode -->
</html>

